<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      <b style="font-size: 24px">{{ type }}</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'admin'">
      <app-admin></app-admin>
    </div>
    <div *ngSwitchCase="'sub_admin'">
      <app-sub-admin></app-sub-admin>
    </div>
    <div *ngSwitchCase="'manager'">
      <app-manager></app-manager>
    </div>
    <div *ngSwitchCase="'sub_manager'">
      <app-sub-manager></app-sub-manager>
    </div>
  </div>
</ion-content>
